@model IEnumerable<Desafio.Contracts.AnimalContract>

<h2>Animals</h2>
<div class="panel panel-default">
    <div class="panel-heading" style="padding:20px">
        <b>Animals List</b>
        <button type="button" class="btn-sm pull-right">@Html.ActionLink("Add new", "New")</button>
    </div>
    <table id="animals_table" class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Weight
                </th>
                <th>
                    Age
                </th>

                <th>

                </th>
            </tr>
        </thead>
        <tbody id="animals-table-tr">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Remove", "Delete", new { id = item.ID }, new { onclick = "return confirm('Confirm delete?');" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
