@model IEnumerable<Desafio.Contracts.AdopterContract>

<h2>Adopters</h2>
<div class="panel panel-default">
    <div class="panel-heading" style="padding:20px">
        <b>Adopters List</b>
        <button type="button" class="btn-sm pull-right">@Html.ActionLink("Add new", "New")</button>
    </div>
    <table id="adopters_table" class="table">
        <thead>
            <tr>

                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    AddressLine
                </th>
                <th>
                    State
                </th>
                <th>
                    Phone
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody id="table-tr">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => item.AddressLine)
                </td>
                <td>
                    @Html.DisplayFor(model => item.State)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Remove", "Remove", new { id = item.ID }, new { onclick = "return confirm('Confirm delete ?');" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
